.pb-1{
	padding-bottom: 1rem;
}
.pb-2{
	padding-bottom: 1.5rem;
}
.pb-3{
	padding-bottom: 2rem;
}
.pb-4{
	padding-bottom: 2.5rem;
}

.pr-1{
	padding-right: 1rem;
}
.pr-2{
	padding-right: 1.5rem;
}
.pr-3{
	padding-right: 2rem;
}
.pr-4{
	padding-right: 2.5rem;
}
.pd-block-large {
	padding: 3rem 1.5rem;
}
.pd-block-small {
	padding: 1rem .5rem;
}
